@import "../variables";

footer {
  margin-top: 6em;
  padding: 0 1em;
  box-shadow: 0px -3px 5px 0px rgba($color: #999, $alpha: .3);
  .footer-main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 3em 0;
    max-width: 1100px;
    margin: auto;
    .footer-main-col{
      border-right: 1px solid #eee;
      padding: 0 2em;
      &:first-child{
        img{
          max-width: 100px;
        }
      }
      &:nth-child(4){
        img{
          width: 50px;
          height: 60px;
        }
      }
      &:first-child, &:last-child{
        border: 0;
      }

      a,p{
        text-transform: uppercase;
        color: #444;
        font-weight: 600;
        font-size: 12px;
        line-height: 19px;
        display: block;
        width: fit-content;
        margin-bottom: 10px;
        &:hover{
          color: #888;
          
        }
      }
    }
  }
  .footer-copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #eee;
    max-width: 1100px;
    margin: auto;
    p {
      color: #bbb;
      font-size: 13px;
      line-height: 17px;
    }
    img {
      max-width: 80px;
    }
  }
}


@media screen and (max-width:767px){
  footer{
    .footer-main{
      padding: 1em 0;
      grid-template-columns: 1fr;
      .footer-main-col{
        padding: 0;
        border: 0;
        margin-top: 1.5em;
        text-align: center;
        a, p{
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    .footer-copyright{
      flex-direction: column;
      padding-top: 1em;
    }
  }
}
